STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
SOROBAN_CONTRACT_ID=CA3D2C5QWNFZZODH4J6NRP4J2I44B5M6C7Y3H2R8A9V1B2C3D4E5F6G7
ADMIN_SECRET_KEY=
OPERATOR_SECRET_KEY=
XLM_TOKEN_ID=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
USDC_TOKEN_ID=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWUIE3USSTHZX5C6WD7
USDT_TOKEN_ID=CBZ6G7A2744H26H6TUVF4I7N73A27A7K67VZ75HPJVIEUVNIXF47ZG2F
